<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= lesson.video_url %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </p>

</div>
